<div class="col-md-12" *ngIf="estudiante_funcion">
    <div class="card text-center">
        <form>
            <h2> <label for="exampleInputEmail1">Productos Disponibles</label></h2>
        </form>


    </div>
</div>

<br>


<div class="alert alert-success" role="alert" *ngIf="isExito">
       Curso Desasignado
    </div>


<div class="col-md-4" *ngFor="let pro of productos">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                <i class="fas fa-id-card-alt"></i>
            <h3>{{pro.producto}} --- Precio {{pro.precio}}</h3>

            <button class="btn btn-outline-warning"  *ngIf="admin_funcion" >
                    Bloquear Producto
                </button>
        </div>
        <img [src]="" class="card-img-top">

        <div class="card-body">
            <i class="fas fa-photo-video"></i>
            <p>Estado  : {{pro.estado}}</p>
            <p>Precio de Producto :  {{pro.precio}}</p>
            <p> Categoria:  {{pro.categoria}}</p>
            <p>Propietario :  {{pro.nombre}}  {{pro.apellido}} </p>
            <p>Detalle :  {{pro.detalle}}</p>
            
            <a class="btn btn-info btn-block">
                <i class="fas fa-pen"></i> Editar Producto
            </a>
            <a class="btn btn-warning btn-block" >
            <i class="fas fa-plus"></i> Agregar a Carrito
            </a>
        </div>

    </div>
    <br>
    <br>
    <br>
</div>