<div class="col-md-12">
    <div class="card text-center">
            <form>
                    <h2> <label for="exampleInputEmail1">Crear una Categoria</label></h2>
            </form>
    
    
    </div>
    </div>


    <div class="alert alert-warning" role="alert" *ngIf="error"> 
        Llenar todos los campos
   </div>
   <div class="alert alert-success" role="alert" *ngIf="exito">
    Guardado exitosamente
  </div>
    


<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
                       
            <form  #formTicket="ngForm" (ngSubmit)="onDenunciar(formTicket)">
                    <div class="form-group">
                            <h3>Ingrese Nombre</h3>
                        </div>
   
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                                type="text" [(ngModel)]="categoria.categoria" 
                                #cuerpo="ngModel" required  minlength="1"  maxlength="100" 
                                name="cuerpo" placeholder="Categoria" class="form-control" autofocus required autocomplete="off"
                                ></textarea>
                              </div>


                            <div class="alert alert-danger" role="alert" *ngIf="cuerpo.touched && !cuerpo.valid">
                                <div *ngIf="cuerpo.errors.required"><h6>Campo Obligatorio</h6></div>
                                <div *ngIf="cuerpo.errors.minlength"><h6>Campo tiene menos de 1 caracteres</h6></div>
                                
                            </div>



                <button type = "submit" class="btn btn-success btn-block" >
                    Crear Categoria

                </button>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>


   <!-- Esta es una previsualizacion a lo que voy a guardar      -->


    
<div class="col-md-12">
<div class="card text-center">
        <form>
                <h2> <label for="exampleInputEmail1"> Categorias Guardadas </label></h2>
        </form>


</div>
</div>





<div class="col-md-4" *ngFor="let cat of categorias">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
                <i class="far fa-clock"></i>codigo: {{cat.id_categoria}}  
      
        </div>
        <img [src]="" class="card-img-top">

        <div class="card-body">
            <h4>
                <p class="text-primary">Nombre :</p> <p>{{cat.categoria}}</p>
            </h4>

        </div>
    </div>

</div>


